@font-face{
	font-family: 'aa_regular';
	src:url('Syne_Tactile/SyneTactile-Regular.ttf');
}

@font-face{
	font-family: 'aa_bold';
	src:url('Syne_Tactile/SyneTactile-Bold.ttf');
}


/*Universal Selector*/
*{
	background-color: silver;
	line-height: 50px;
}

/*Tag Selector / Element Selector*/
p{
	line-height: 20px;
	font-style: italic;
	color: purple;
	font-family: 'aa';
}

/*Attribute Selector*/
a[title="Google"]{
	text-decoration: none;
	color: green;
}

a[title="Lesson 1"],
a[title="Lesson 2"],
a[title="Lesson 3"]
{
	word-spacing: 10px;
	color: #FF6F00;
}

/*ID Selector*/
p#firstP{
	text-align: justify;
	word-spacing: 10px;
}

/*Class Selector*/
p.textCapitalize{
	text-transform: uppercase;
}

p.secondP{
	column-count: 3;
}

/*Descendant Selector*/
p a{
	color: blue;
	text-decoration-line: overline;
	text-decoration-style: double;
	text-transform: lowercase;
}

/*Child Selector*/
p>a{
	text-decoration-style: wavy;
	color: darkred;
	text-transform: uppercase;
}

/*Pseudo Selector*/
a.lessonClick:link{
	text-decoration: none;
}

a.lessonClick:hover{
	background-color: black;
	color: white;
}

a.lessonClick:active{
	background-color: #880E4F;
	color: white;
}

a.lessonClick:visited{
	background-color: #FFFF00;
	color: #1B5E20;
}

:target{
	background-color: skyblue;
	border: 2px solid black;
}

form{
	width: 80%;
	margin: auto;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea{
	width: 100%;
	border: 3px solid #ccc;
	outline: none;
}

div#dob_select select{
	width: 30%;
	outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus{
	border: 3px solid #555;
}


input[type="radio"]:checked+label{
	color: red;
}

input[type="checkbox"]:checked+label{
	color: red !important;
}

input[type="checkbox"]:enabled+label{
	color: #607D8B;
}

input[type="checkbox"]:disabled+label{
	color: #aaa;
}

input[type="text"]:read-only{
	border: 0;
	box-shadow: none;
	background-color: silver;
}

input[type="text"]:read-write{
	background-color: pink;
}
p:empty{
	width: 100%;
	height: 40px;
	background-color: #607D8B;
}

li:first-child{
	background-color: yellow;
}

li:last-child{
	background-color: #00BCD4;
}

li:nth-child(3){
	background-color: #009688;
}

li:nth-child(5){
	background-color: skyblue;
}

div.float_left img{
	float: left;
}

.clear{
	clear: both;
}

div.float_right img{
	float: right;
}























