@font-face{
	font-family: 'Cookie';
	src:url('fonts/Cookie-Regular.ttf');
}

@font-face{
	font-family: 'Kurale';
	src:url(fonts/Kurale-Regular.ttf);
}

@font-face{
	font-family: Raleway;
	src:url(fonts/Raleway-VariableFont_wght.ttf);
}

*{
	margin: 0;
	padding: 0;
	font-family: Raleway;
}

div#header img{
	width: 100px;
	height: 100px;
	float: left;
}

.clear{
	clear: both;
}

div#header h1{
	font-family: Cookie;
	padding-top: 20px;
	font-size: 50px;
	font-weight: 100;
}


div#header{
	margin: 0 520px;
}

div#navbar ul li a{
	text-decoration: none;
	text-transform: uppercase;
	padding: 20px 50px;
	color: white;
}

div#navbar ul li{
	float: left;
	list-style: none;
	line-height: 60px;
}

div#navbar{
	width: 100%;
	background-color: #1b1b1b;
	height: 60px;
}

div#slider img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}

div.quote{
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 40%;
	left: 25%;
	padding: 30px;
}





























